<quantum-circuit id="circuit">
</quantum-circuit>

<p id="circuit-json">
</p>

<circle-notation-panel>
  <circle-notation id="circle-notation" data-qubit-count="1"></circle-notation>
</circle-notation-panel>
